.container-sidebar {
  @apply h-full rounded-[8px] bg-white shadow-lg  transition-all duration-300 ease-linear dark:bg-gray-950;
  transition: transform 0.3s ease-in-out;
  display: flow;
}

.bg-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.buttonPanel {
  @apply w-full p-2 mb-4 transition-transform duration-200 transform bg-white rounded shadow-md hover:scale-105 dark:bg-gray-950 hidden lg:block;
}
