.container-cardBranchs {
  @apply flex flex-wrap justify-center gap-4 w-full;

  @media (max-width: 1024px) {
    @apply justify-center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (max-width: 640px) {
    overflow: scroll;
    height: 30rem;
    display: grid;
    gap: 20px;
  }
}

.container-DrawerContent {
  @apply mx-auto w-full justify-center items-center max-w-max mb-[8rem];

  @media (max-width: 768px) {
    @apply mb-8;
  }
}
